

body {
  background-image: url("https://cdn.pixabay.com/photo/2019/10/02/00/40/kombucha-4519619_1280.jpg");
  background-size: cover;
  background-color:rgb(255, 255, 255);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1 {
  color: rgb(255, 255, 255);
  margin-right: 8%;
  margin-left: 8%;
  border-style: solid;
  border-color: rgba(255, 254, 254, 0.664);
  border-width: 5px;
  padding: 5%;
  font-weight: 500;
}

